opencv-contrib-python
numpy
pandas
Pillow
openpyxl
psycopg[binary]
fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic-settings
python-dotenv
insightface
opencv-python
onnxruntime
python-multipart
python-jose[cryptography]
passlib[bcrypt]
filelock
